<img class="rounded shadow h-full object-contain mx-auto" alt="oneonone-screenshot-1" src="/portfolio-website/public/oneonone-screenshot-3.png" hx-get="/portfolio-website/src/images/oneonone-image-2" hx-target=".project-image-container">
<button class="absolute my-auto top-0 bottom-0 left-0 h-1/6 w-6 opacity-25 rounded hover:opacity-100 transition-opacity bg-slate-500">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left w-full" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
  </svg>
</button>
<button class="absolute my-auto top-0 bottom-0 right-0 h-1/6 w-6 opacity-25 rounded hover:opacity-100 transition-opacity bg-slate-500" hx-get="/portfolio-website/src/images/oneonone-image-1" hx-target=".project-image-container">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right w-full" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
  </svg>
</button>