<div class="text-4xl text-center pt-6">
  About Me
</div>
<div class="flex justify-center space-x-4 pt-6">
  <div class="flex flex-col space-y-2">
    <img alt="Picture of me" src="/portfolio-website/public/portrait.jpg" class="w-96 rounded border-2 border-sky-900 shadow-lg">
    <div class="rounded bg-slate-200 w-96 p-4 shadow"> 
      Ever since I built my first computer at 13, I have dedicated myself to learn ins and outs of software and computers in general.
      <br>
      <br>
      That led me to study computer science at University of Toronto, and I was blown away at what we can do with computers.
      <br>
      <br>
      I am always in the process of learning new technologies, from newer, refined web frameworks to older, low-level programming languages.
    </div>
  </div>
  <div class="flex flex-col items-center rounded w-96 bg-slate-200 p-4 shadow">
    <h2 class="text-xl"> Technologies </h2>
    <div class="grid grid-cols-3 min-w-full gap-3 pt-2">
      <div class="flex flex-col items-center border-red-700 border-2 rounded p-2 shadow">
        <img class="mt-auto" alt="ruby on rails logo" src="/portfolio-website/public/ruby_on_rails-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">Ruby On Rails</p>
      </div>
      <div class="flex flex-col items-center border-green-800 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="Django logo" src="/portfolio-website/public/django-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">Django</p>
      </div>
      <div class="flex flex-col items-center border-cyan-400 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="react logo" src="/portfolio-website/public/react-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">React</p>
      </div>
      <div class="flex flex-col items-center border-orange-600 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="html5 logo" src="/portfolio-website/public/html5-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">HTML 5</p>
      </div>
      <div class="flex flex-col items-center border-blue-700 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="css logo" src="/portfolio-website/public/css-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">CSS</p>
      </div>
      <div class="flex flex-col items-center border-yellow-500 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="javascript logo" src="/portfolio-website/public/javascript-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">JavaScript</p>
      </div>
      <div class="flex flex-col items-center border-red-600 border-2 rounded p-2 shadow">
        <img class="mt-auto max-h-24 max-w-24" alt="airflow logo" src="/portfolio-website/public/airflow-logo.png">
        <p class="self-center mt-auto text-sm pt-1">Airflow</p>
      </div>
      <div class="flex flex-col items-center border-sky-700 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="python logo" src="/portfolio-website/public/python-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">Python</p>
      </div>
      <div class="flex flex-col items-center border-orange-500 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="java logo" src="/portfolio-website/public/java-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">Java</p>
      </div>
      <div class="flex flex-col items-center border-cyan-400 border-2 rounded p-2 shadow">
        <img class="h-24 w-24" alt="tailwindcss logo" src="/portfolio-website/public/tailwindcss-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">Tailwind CSS</p>
      </div>
      <div class="flex flex-col items-center border-blue-800 border-2 rounded p-2 shadow">
        <img class="mt-auto h-24 w-24" alt="c logo" src="/portfolio-website/public/c-logo.svg">
        <p class="self-center mt-auto text-sm pt-1">C</p>
      </div>
      <div class="flex flex-col items-center border-slate-800 border-2 rounded p-2 shadow">
        <p class="self-center mt-auto mb-auto pt-1 text-center"> And Still Learning more! </p>
      </div>
    </div>
    <p class="text-center">
      To see how I used these technologies, check out
      <a class="text-blue-700 hover:underline cursor-pointer" hx-get="/portfolio-website/src/component/experience.html" hx-target="#content-container">
      experiences section!
      </a>
    </p>
  </div>
</div>
