<div class="flex flex-col items-center">
  <div class="text-3xl p-12">
    Contact Me!
  </div>
  <ul class="list-disc list-inside">
    <li>
      Email: <a class="text-blue-600 underline hover:text-blue-400 hover:no-underline" href="mailto: alexsohn1126@gmail.com">alexsohn1126@gmail.com</a>
    </li>
  </ul>
  <div class="flex pt-2 space-x-2">
    <a href="https://www.linkedin.com/in/moohaeng-sohn/">
      <img class="size-8" src="/public/linkedin-logo.svg">
    </a>
    <a href="https://github.com/alexsohn1126">
      <img class="size-8" src="/public/github-logo.svg">
    </a>
  </div>
</div>