<div class="flex flex-col items-center">
  <div class="text-4xl text-center pt-6">
    Experiences
  </div>
  <div class="flex flex-col items-center align-center mt-6 w-[30vw] bg-slate-200 rounded p-4">
    <div class="text-lg">
      Software Developer Intern - FinanceIt
    </div>
    <div class="text-md text-gray-500 text-center">
      May 2022 - May 2023 <br>
      Ruby on Rails, MySQL, Airflow 
    </div>
    <ol class="list-disc list-inside">
      <li>
        Implemented a system to notify and mark the user if we receive a returned mail from their address,
        saving operation costs to manually call the user, and sending a mail that would eventually be
        returned.
      </li>
      <li>
        Upgraded letter sending system to send an email instead of a physical mail if a user has a valid
        email address, reducing the cost of mail sending operations.
      </li>
      <li>
        Implemented an Airflow job to automatically collect and format customer information (metro2
        report) to Equifax monthly, saving the time to manually send the report every month.
      </li>
      <li>
        Optimized a page in administration website by pagination which helped to reduce the load time
        for admin portals.
      </li>
    </ol>
  </div>
</div>
